.container {
  flex: 1;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

.noUsers {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actionButton {
  margin-right: 8px !important;
}

.restrictButton {
  width: 69px;
  margin-right: 8px !important;
}